.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em 2em;
}

.info section img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info section h2 {
  font-size: 1.1rem;
  margin: 0.5em 0;
}

.info section p {
  font-size: 0.9rem;
  color: var(--bs-emperor);
}

@media (max-width: 800px) {
  .info {
    grid-template-columns: 1fr;
  }
}